body{
    background-color: #212529;
}
.avatar{
    border:0.4rem solid transparent;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
}
.avatar img{
    height: 3rem;
}
.selected{
    border: 0.4rem solid #4e0eff;
}
.login-container,.reg_container{
    padding: 3rem;
    background-color: #131324;
}

.chat-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:1rem;
    align-items: center;
}
.chat-container-box{
    height: 100vh;
    width: 100vw;
    background-color: #131324;
    display: grid;
    grid-template-columns: 25% 50% 25%;
}

/* contacts */
.second-color { 
	background: #5c5470; 
}
.third-color { 
	background: #352f44; 
}
.contacts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.8rem;
}
.contact{
    display: flex;
    align-items: center;
    gap: 2rem;
    color: #fff;
    background: #352f44; 
    width: 95%;
    border-radius: 0.2rem;
    padding:0.4rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    margin-inline:auto;
}
.contact img{
    height: 3rem;
}

.current-user{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    background: #2a2438; 
    padding: 0.4rem;
    gap:2rem;
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
}
.selectContact{
    background: #dbd8e3; 
}
.welcome-content{
    color:#fff;
    text-align: center;
}

/* welcome */
.chatbot-section img{
    height: 20rem;
}

.user-details{
    display:flex;
    align-items: center;
}
.user-details .avatar img{

    height: 3rem;
}
/* button container */
.emoji{
    font-size: large;
    margin-bottom: 1rem;
    cursor: pointer;
}

/* messages */
.messages{
    /* height: 70vh; */
    background: #23202c; 
}

/* chat container */

.chat-section{
    display: grid;
    grid-template-rows: 10% 78% 12%;
    overflow: hidden;
}

.chat-messages{
    width: 100%;
    padding: .8rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: auto;

}
.message{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.content{
    overflow-wrap:break-word ;
    padding: .8rem;
    font-size: 1.1rem;
    border-radius: 1rem;
}
.sended{
    justify-content: flex-end;
}
.sended .content{
    background-color: #4f04ff21;
}
.recieved{
    justify-content: flex-start;
}
.recieved .content{
    background-color: #9900ff20;
}



@media screen and (min-width:720px) and (max-width:1080px) {
    .chat-container-box{
        grid-template-columns: 35% 65%;
    }
}
@media screen and (min-width:360px) and (max-width:480px) {
    .chat-container-box{
        grid-template-columns: 30% 70%;
    }

}
@media screen and (max-width:576px) {
    .chat-container-box{
        grid-template-columns: 1fr;
    }
    .contact,.current-user{
        /* flex-direction: column; */
        padding: 0.2rem;
    }
    .chatbot-section img{
        height: 15rem;
    }
    
}